$pryColor: #124272;
$secColor: #67A2B8;
$altColor: #0684B4;
$lightColor: #E8EEF1;
$success: #42ba96;
$error: #f16363;
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$boxShadow2: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$boxShadow3: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;